name: blossom-ci-merge-queue-shim

on:
  pull_request:

permissions:
  statuses: write
  contents: read

jobs:
  post-blossom-ci-status:
    name: Post blossom-ci status
    runs-on: ubuntu-latest
    steps:
      - name: Post blossom-ci status
        uses: actions/github-script@v7
        with:
          script: |
            await github.rest.repos.createCommitStatus({
              owner: context.repo.owner,
              repo: context.repo.repo,
              sha: context.sha,
              state: "success",
              context: "blossom-ci",
              description: "Auto-pass for merge queue"
            })
